<div class="container-dashboard">
  <h1>Painel de Investimentos</h1>
  <p>Bem-vindo ao seu gerenciador financeiro CAIXA.</p>

  <!-- Simulador de Investimento -->
   <section class="simulator-section">
    <h2>Simulador</h2>
    <app-investment-simulator></app-investment-simulator>
   </section>

   <mat-divider style="margin: 24px 0"></mat-divider>

   <!-- Perfil de Risco -->
   <section class="risk-section">
    <h2>Sua Análise de Perfil</h2>
    <app-risk-profile></app-risk-profile>
   </section>
</div>
