<mat-card class="home-card">
  <mat-card-header>
    <mat-card-title>Bem-vindo ao Portal do Investidor</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>
      Você está na tela inicial. Aqui você poderá acessar seu painel de investimentos, simular aplicações e visualizar seu perfil de risco.
    </p>
  </mat-card-content>

  <mat-card-actions align="end">
    <!-- Botão para voltar ao login -->
    <button mat-raised-button color="primary" (click)="voltarParaLogin()">
      Voltar para o Login
    </button>
  </mat-card-actions>
</mat-card>



